* {
    font-family: Montserrat;
    /*Kom på i efterhand att det hade varit smidigt att sätta box-sizing: border-box här
      Skulle sparat massa kod längre ner men lät koden vara istället för att göra om den.*/
 }
 
 html{
    background-image: linear-gradient(to bottom, rgb(255, 193, 200), rgb(255, 121, 116));
    height: 100%;
    margin: 0;
    padding: 0;
 }
 
 .container {
    box-sizing: border-box;
    width: 960px;
    height: auto;
    position: relative;
    flex-direction: column;
    /* Ett till exempel på saker jag kom på i efterhand, har använt margin väldigt mycket i koden
       hade kanske varit enklare att använda mig utav top, right, bottom och left istället. */
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 3px 3px 20px 4px rgba(121, 120, 120, 0.418); 
    z-index: 1;
    animation: blockEntry 1.2s 1s backwards;
 }
 
 h1 {
    box-sizing: border-box;
    font-size: 96px;
    position: relative;
    font-weight: bolder;
    font-family: "Times new roman";
    margin-bottom: -20px;
    top: 10px;
    color: black;
    padding: 20px;
    margin-top: -4px;
    animation: transitionIn 400ms ease-in 1.95s 1 normal both;
 }

 p {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 10px;
    animation: transitionIn 400ms ease-in 2.05s 1 normal both;
 }

 .main {
    position: relative;
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    top: 20px;
    animation: transitionIn 400ms ease-in 2.15s 1 normal both;
 }

 input {
    box-sizing: border-box;
    position: relative;
    height: 60px;
    width: 450px;
    border-radius: 1% / 8%;    
    border: solid rgba(0, 0, 0, 0.7) 2px;
    font-size: 30px;
    font-weight: 500;
    outline: none;
 }

 input[type="text"]:focus {
    border: solid rgba(3, 3, 245, 0.712) 3px;
 }
 
 .inputButton {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(235, 235, 235);
    border-radius: 10%;
    border: solid rgba(0, 0, 0, 0.596) 1px;
    color: black;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    cursor: pointer;
    height: 60px;
    width: 100px;
    top: 2px;
    left: 10px;
 }
 
 .ulList {
    background-color: transparent;
    list-style: none;
    padding: 40px;  
 }

 .fade {
   animation: listSlide 0.2s;
   opacity: 1;
 }
 
 li {
    position: relative;
    align-items: center;
    width: auto;
    height: 40px;
    flex-direction: column;
    background-color: transparent;
    cursor: pointer;
    cursor: hand;
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 40px;
    margin-left: 40px;
    opacity: 0;
 }

 span:hover {
    text-decoration: line-through 3px;
 }
 
 .completed {
    color: grey; 
    text-decoration: line-through 3px;
    transition: all 0.3s ease-out;
 }
 
 .inputButton:hover {
    background-color: rgb(216, 216, 216);
 }
 
 #warning {
    color: rgb(180, 50, 50);
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
 }

 .warningBlink {
   animation: 0.5s linear 0s 2 blinking;
 }
 
 .tcButton:hover {
    opacity: 1;
    cursor: pointer;
 }
 
 .tcButton {
   background-image: url(./trashCan.jpg);
   border: none;
   opacity: 0.7;
   position: relative;
   background-color: transparent;
   background-repeat: no-repeat;
   left: 20px;
   height: 25px;
   width: 30px;
 }
 
 /*ANIMATION FÖR BLOCKENTRY*/
 @keyframes blockEntry {
    0% {top: -200px; opacity: 0;}
    10% {top: -200px; opacity: 0;}
    20% {opacity: 0.1;}
    40% {top: 180px; opacity: 0.8;}
    45% {opacity: 1;}
    100% {top: 0px}
 }
/*FADE PÅ TEXT*/
 @keyframes transitionIn {
    0% {opacity: 0;}
    80% {opacity: 0.8;}
    100% {opacity: 1;}
 }
/*WARNING BLINK*/
 @keyframes blinking {
   50% {opacity: 0;}
 }
/*ANIMATION FÖR LISTELEMENT*/
 @keyframes listSlide {
    0% {bottom: -50px; opacity: 0;}
    20% {opacity: 1;}
    100% {bottom: 0px;}
 }
 
